---
title: Runtime Verification
description: Runtime Verification contributing by building executable K specifications of the Substrate FRAME Library.
type:
  - building-for-polkadot
category:
  - infrastructure
link: https://runtimeverification.com/
featured_image: /media/images/projects/runtime-verification.png
show_case_study: false
---
