.container {
  @apply px-4;
}

@media (max-width: theme('screens.sm')) {
  .container {
    @apply max-w-none;
  }
}
/* Paragraphs */
p {
  font-weight: unset;
  line-height: 1.625;
}

/* Links underline animation */
.underline-animate a {
  @apply text-substrateBlue dark:text-substrateDarkThemeBlue;
  display: inline-block;
  position: relative;
}

.underline-animate a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  @apply bg-substrateBlue dark:bg-substrateDarkThemeBlue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline-animate a:hover::after {
  width: 100%;
  left: 0;
}

/* Thinner underline animation */

.underline-animate-thin a::after {
  height: 1px;
}

/* Scroll Margin top 100px */
@layer utilities {
  @variants responsive {
    .scroll-margin-top-100 {
      scroll-margin-top: 100px;
    }
  }
}

/* Markdown styles */

.markdown h2,
h3 {
  @apply max-w-3xl;
  scroll-margin-top: 100px;
}

/* Safari-only */
@supports (-webkit-hyphens: none) {
  .markdown h2,
  h3 {
    padding-top: 60px;
    margin-top: -60px;
  }
}

.markdown ul {
  @apply ml-8 mb-4;
}

.markdown ul ul {
  @apply ml-8;
}

.markdown h2 {
  @apply mt-14 mb-6 text-2xl font-medium;
}

.markdown h3 {
  @apply mt-14 mb-6 text-2xl font-medium;
}

.markdown h6 {
  @apply text-base mt-6 mb-4;
}

.markdown strong {
  @apply font-bold;
}

.markdown p {
  @apply mb-2;
}

.markdown code {
  @apply text-base font-sans;
}

/* Breadcrumbs */

.breadcrumb__list {
  @apply list-none flex text-sm ml-0 font-medium;
}

.breadcrumb__link {
  @apply text-substrateBlue m-0;
}

.breadcrumb__list span {
  @apply text-substrateBlackish dark:text-white;
}

.breadcrumb__list__item {
  @apply flex m-0 mr-1;
}

.breadcrumb__list__item::before {
  content: '»';
  @apply mr-2 text-substrateBlackish dark:text-white;
}

.breadcrumb__list__item:first-of-type::before {
  content: none;
  @apply: m-0;
}

/* Navigation current page */

.navSidebar a[aria-current='page'] {
  @apply font-bold;
}

.navMain a[aria-current='page'] {
  @apply text-substrateGreen dark:text-white underline;
}

.navMobile a[aria-current='page'] {
  @apply font-bold;
}

/* 404 title */

@supports (-webkit-text-stroke: 1px black) {
  .four-oh-four-title {
    @apply font-extrabold;
    -webkit-text-stroke: 2px #24cc85;
    -webkit-text-fill-color: transparent;
  }
}

/* Lottie */

div[aria-label='animation'] {
  cursor: default;
}

@media screen and (max-width: 1400px) {
  .modal-video-close-btn {
    transform: translateY(-100%);
  }
}

/* Primary button transform fix Safari */

.primary-button {
  clip-path: content-box;
  -webkit-clip-path: content-box;
}

/* Image rounded corners fix Safari */

.gatsby-image-wrapper.rounded-md,
.image-rounded {
  mask-image: radial-gradient(white, black);
}

/* utils */

.-mt-36-px {
  margin-top: calc(-9rem - 1px);
}

.border-3 {
  border-width: 3px;
}

/* Case studies filter checkbox */

.case-studies input[type='checkbox'] {
  display: none;
}

.case-studies input[type='checkbox'] + label {
  @apply inline-block relative cursor-pointer h-4 w-4 mt-1 border border-substrateDark dark:border-white rounded-sm;
}

.case-studies input[type='checkbox']:checked + label::after {
  content: '✔';
  @apply inline-block absolute left-0.5 text-xs text-substrateDark dark:text-white;
}

/* Banner */

.banner p {
  @apply mb-0;
}

.banner strong {
  @apply font-bold;
}

.banner a {
  @apply text-substrateDarkThemeBlue dark:text-substrateBlue;
}

/* Hubspot Confirmation Checkmark Animation */

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #24cc85;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #24cc85;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #24cc85;
  }
}

/* Rococo code blocks */

.gatsby-highlight {
  border-radius: 10px;
  margin: 0.5em 0;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  padding-right: 1.5em;
  padding-left: 0.5em;
  font-size: 1em;
  @apply relative mb-6 w-full;
}

.gatsby-highlight pre {
  margin-right: 6rem !important;
}

.gatsby-highlight {
  @apply max-w-full;
}
