.hs-form {
  @apply text-substrateDark dark:text-white;

  ul {
    @apply list-none;
  }

  p {
    @apply text-sm;
  }

  input[type='submit'] {
    @apply bg-substrateGreen rounded-md cursor-pointer;
    @apply text-lg font-bold text-white;
    @apply px-7 py-2;
    @apply hover:text-substrateGreen hover:bg-white hover:ring-2 ring-substrateGreen transition duration-200;
  }

  select {
    @apply mt-2 rounded-lg border border-gray-300 dark:bg-substrateDark focus:outline-none focus:ring-0;
  }

  h3 {
    @apply text-2xl;
    margin-bottom: 2rem !important;
  }

  .hs-form-field {
    @apply text-base font-semibold mb-4;
    margin-bottom: 2rem !important;

    .hs-input[type='text'] {
      @apply w-full mt-2 rounded-lg border border-gray-300;
      @apply dark:bg-darkBackground sm:dark:bg-substrateDark;
      @apply focus:outline-none focus:ring-1 focus:ring-substrateDark;
    }

    .hs-input[type='email'] {
      @apply w-full mt-2 rounded-lg border border-gray-300;
      @apply dark:bg-darkBackground sm:dark:bg-substrateDark;
      @apply focus:outline-none focus:ring-1 focus:ring-substrateDark;
    }

    .hs-form-radio-display {
      @apply flex items-center mt-2 py-1 text-base cursor-pointer;
    }

    .hs-input[type='radio'] {
      @apply mr-2 fill-current text-substrateDark dark:text-substrateGreen cursor-pointer focus:outline-none focus:ring-0;
    }

    .hs-form-booleancheckbox-display {
      @apply flex items-center py-1 text-sm cursor-pointer;
    }

    .hs-input[type='checkbox'] {
      @apply mr-2 fill-current text-substrateDark dark:text-substrateGreen cursor-pointer focus:outline-none focus:ring-0;
    }

    .hs-form-required {
      @apply text-substrateRed ml-1;
    }

    .hs-error-msgs {
      @apply text-substrateRed text-sm mt-1;
    }
  }
}

#hs-newsletter-form.widget {
  .hs_email,
  .hs_submit {
    @apply max-w-lg w-full;
  }

  form {
    @apply flex flex-col gap-6 mb-6;

    .hs-input[type='email'] {
      @apply dark:bg-substrateDarkest dark:border-substrateGray-dark dark:placeholder-white text-black dark:text-white max-w-lg h-16 bg-white  border-black;

      border-width: 3px;
    }

    input[type='submit'] {
      @apply h-16 max-w-lg;
    }
  }
}

#hs-newsletter-form {
  flex-basis: 100%;

  .hs-form-field {
    margin: 0 !important;
  }

  .hs_error_rollup {
    @apply hidden;
  }

  .hs-error-msgs {
    @apply h-0 m-0;
  }

  .hs_email {
    > label {
      display: none;
    }
  }

  form {
    @apply flex flex-col sm:flex-row gap-6 w-full lg:justify-end;

    .hs_email,
    .hs_submit {
      @apply max-w-sm w-full;
    }

    .hs-input[type='email'] {
      @apply my-0 mx-0 rounded-lg border-black text-xl p-4 hover:ring-2 focus:ring-2 text-center w-full;

      border-width: 3px;

      &:focus {
        outline: none;
      }

      @apply bg-substrateBlackish border-white text-white max-w-sm h-12;
    }

    input[type='submit'] {
      @apply w-full bg-substrateGreen hover:bg-white text-white hover:text-substrateGreen items-center px-9 text-xl font-bold transition duration-200 focus:outline-none focus:ring-2 rounded-lg border-substrateGreen h-12 max-w-sm;

      border-width: 3px;
    }
  }
}
