.hs-form {
  @apply text-substrateDark dark:text-white;

  ul {
    @apply list-none;
  }

  p {
    @apply text-sm;
  }

  input[type='submit'] {
    @apply bg-substrateGreen rounded-md cursor-pointer;
    @apply text-lg font-bold text-white;
    @apply px-7 py-2;
    @apply hover:text-substrateGreen hover:bg-white hover:ring-2 ring-substrateGreen transition duration-200;
  }

  select {
    @apply mt-2 rounded-lg border border-gray-300 dark:bg-substrateDark focus:outline-none focus:ring-0;
  }

  h3 {
    @apply text-2xl;
    margin-bottom: 2rem !important;
  }

  .hs-form-field {
    @apply text-base font-semibold mb-4;
    margin-bottom: 2rem !important;

    .hs-input[type='text'] {
      @apply w-full mt-2 rounded-lg border border-gray-300;
      @apply dark:bg-darkBackground sm:dark:bg-substrateDark;
      @apply focus:outline-none focus:ring-1 focus:ring-substrateDark;
    }

    .hs-input[type='email'] {
      @apply w-full mt-2 rounded-lg border border-gray-300;
      @apply dark:bg-darkBackground sm:dark:bg-substrateDark;
      @apply focus:outline-none focus:ring-1 focus:ring-substrateDark;
    }

    .hs-form-radio-display {
      @apply flex items-center mt-2 py-1 text-base cursor-pointer;
    }

    .hs-input[type='radio'] {
      @apply mr-2 fill-current text-substrateDark dark:text-substrateGreen cursor-pointer focus:outline-none focus:ring-0;
    }

    .hs-form-booleancheckbox-display {
      @apply flex items-center py-1 text-sm cursor-pointer;
    }

    .hs-input[type='checkbox'] {
      @apply mr-2 fill-current text-substrateDark dark:text-substrateGreen cursor-pointer focus:outline-none focus:ring-0;
    }

    .hs-form-required {
      @apply text-substrateRed ml-1;
    }

    .hs-error-msgs {
      @apply text-substrateRed text-sm mt-1;
    }
  }
}

#hs-newsletter-form.widget {
  .hs_email,
  .hs_submit {
    @apply max-w-lg w-full;
  }

  form {
    @apply flex flex-col gap-6 mb-6;

    .hs-input[type='email'] {
      @apply dark:bg-substrateDarkest dark:border-substrateGray-dark dark:placeholder-white text-black dark:text-white max-w-lg h-16 bg-white  border-black;

      border-width: 3px;
    }

    input[type='submit'] {
      @apply h-16 max-w-lg;
    }
  }
}

#hs-newsletter-form {
  flex-basis: 100%;

  .hs-form-field {
    margin: 0 !important;
  }

  .hs-error-msgs {
    display: none !important;
  }

  form:focus-within .hs-error-msgs {
    display: block !important;
    @apply absolute w-full bg-white left-0 m-0 mt-1 p-4 z-10 rounded-md;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    li > label {
      @apply relative flex items-center pl-7 md:pl-8;
      &::before {
        content: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='16.000000pt' height='16.000000pt' viewBox='0 0 16.000000 16.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,16.000000) scale(0.003125,-0.003125)'%0Afill='%23000000' stroke='none'%3E%3Cpath d='M2286 4584 c-1087 -148 -1863 -1134 -1755 -2230 119 -1208 1263%0A-2046 2454 -1799 864 179 1518 900 1614 1777 94 860 -361 1687 -1134 2063%0A-209 102 -393 158 -623 189 -138 19 -417 19 -556 0z m528 -674 c44 -30 92 -98%0A108 -154 14 -53 -66 -1413 -88 -1488 -20 -65 -85 -130 -154 -153 -168 -56%0A-344 21 -384 167 -9 34 -28 294 -55 743 -47 776 -48 748 25 833 67 78 81 82%0A310 79 195 -2 201 -3 238 -27z m-112 -2128 c26 -13 66 -42 89 -65 159 -159%0A110 -417 -100 -518 -34 -17 -65 -23 -121 -23 -66 -1 -84 3 -142 32 -69 34%0A-118 82 -153 152 -28 53 -32 176 -9 241 26 72 94 145 169 181 53 26 69 29 140%0A26 59 -2 93 -9 127 -26z'/%3E%3C/g%3E%3C/svg%3E%0A");
        @apply absolute left-0 top-0 h-full w-5;
      }
    }
  }

  .hs_email {
    > label {
      display: none;
    }
  }

  form {
    @apply flex flex-col sm:flex-row gap-6 w-full lg:justify-end;

    .hs_email,
    .hs_submit {
      @apply max-w-sm w-full relative;
    }

    > :not(.hs_email):not(.hs_submit) {
      display: none;
    }

    .hs-input[type='email'] {
      @apply my-0 mx-0 rounded-lg border-black text-xl p-4 hover:ring-2 focus:ring-2 text-center w-full;

      border-width: 3px;

      &:focus {
        outline: none;
      }

      @apply bg-substrateBlackish border-white text-white max-w-sm h-12;
    }

    input[type='submit'] {
      @apply w-full bg-substrateGreen hover:bg-white text-white hover:text-substrateGreen items-center px-9 text-xl font-bold transition duration-200 focus:outline-none focus:ring-2 rounded-lg border-substrateGreen h-12 max-w-sm;

      border-width: 3px;
    }
  }
}
