.home-hero {

  &__headline {
    text-shadow: 0 4px 1px rgba(#0A5F3B, 0.25);
  }

  svg {
    cursor: default;
  }
}

.home-tabs__link {
  @apply relative inline-block text-xl font-bold leading-relaxed mb-8 transition-all cursor-pointer border-b-2 clear-right text-navItemColor border-transparent hover:text-substrateBlackish dark:hover:text-white;

  svg {
    @apply transition-all absolute -left-8 top-3 opacity-0;
  }
}

.home-tabs__link--active {
  @apply text-substrateGreen border-substrateGreen hover:text-substrateGreen dark:hover:text-substrateGreen;

  svg {
    @apply transition-all -left-6 opacity-100;
  }
}

.technology-teaser {
  &__icon {
    svg {
      @apply w-36 h-36 mx-auto;
    }
  }
}

.home-expand {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 1.5rem;

  &--active {
    -webkit-line-clamp: 100;

    + .home-expand__button {
      opacity: 0;
    }
  }

  &__button {
    @apply opacity-100 relative pb-1 text-xl font-bold border-b-2 border-substrateBlackish dark:border-white hover:border-navItemColor dark:hover:border-navItemColor cursor-pointer transition;

    &:hover {
      svg {
        @apply top-3;
      }
    }
  }
}